/object/A.h
/.vs/coop/v16/.suo
/.vs/coop/v16
/Cache_UnitTest/Cache_UnitTest.vcxproj.user
/Cache_UnitTest/x64/Debug
/Cache_UnitTest/x64/Release
/Object_unitTest/Object_unitTest.vcxproj.user
/Object_unitTest/x64/Debug
/Object_unitTest/x64/Release
/coop-test/x64/Release
/coop/*.user
/coop/x64/Release
/object-unitTest/*.user
/object-unitTest/x64/Debug
/object-unitTest/x64/Release
/object/*.user
/object/x64/Debug
/object/x64/Release
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
/x64/Debug
/x64/Release
/x64/bin
/COOP_C_TestProxy/x64/Debug
/COOP/x64/Debug
/UnitTests/x64/Debug
/COOP_C_TestProxy/COOP_C_TestProxy.vcxproj.user
/UnitTests/UnitTests.vcxproj.user
/UnitTests/x64/Release
/COOP_C_TestProxy/x64/Release
/.vs/*
*/x64/Debug
/Catch2UnitTests/Catch2UnitTests.vcxproj.user
/COOP/Debug
/Debug
/out/build/x64-Debug
/UnitTestC/Debug
/.~lock.The COOP Cheat Sheet.docx#
